* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-clr: #1d1b3f;
  --white-clr: #e0cfec;
  --prim-clr: #9a9ad7;
  --sec-clr: #cfcfec;

  --cards: 4;

  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

// BEGINNING OF UTILITY CLASS

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.text-white {
  color: var(--white-clr);
}

.text-sec {
  color: var(--sec-clr);
}

// END OF UTILITY CLASS

body {
  background-color: var(--dark-clr);
}

header {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.parralax-header {
  background: url(./asset/newwave.svg);
  background-size: 100% 100%;
  background-position: center;
}

.parralax-projects {
  z-index: -1;
  animation: fadeIn 1.5s ease-in-out;
}

h1 {
  position: relative;
  padding: 100px 0;
  font: 4em 'Arial';
  text-align: center;
  color: white;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.svg-container svg {
  width: 100%;
  height: 100%;
  display: block;
}

.intro-container {
  width: 50%;
  min-width: 240px;
  margin: 0 auto;
  font-size: 16px;

  h2 {
    font-size: 2.75em;
    color: var(--prim-clr);
  }

  p {
    padding: 1em;
    font-size: 2em;
  }
}

.icons-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5em;
  gap: 1em;

  svg {
    max-width: 64px;
  }
}

.projects-container {
  margin: 0 auto;
  width: 60%;
  //min-width: 240px;
  //max-width: 740px;

  display: flex;
  grid-auto-columns: auto;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

#card1 {
  --index: 1;
}
#card2 {
  --index: 2;
}
#card3 {
  --index: 3;
}
#card4 {
  --index: 4;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}

.card-body {
  background-color: rgb(46, 40, 87);
  min-width: 20vw;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;

  .img-container {
    width: 100%;
    min-width: 200px;
    aspect-ratio: 1/1;
    background-color: darkcyan;
  }

  p {
    padding: 0.5em;
    color: white;
    font-size: 1.125em;
  }

  .project-title {
    text-decoration: underline;
    color: white;
  }
}

@media screen and (max-width: 570px) {
  header {
    h1 {
      font-size: 3em;
    }
  }

  .intro-container {
    font-size: 16px;
  }
}

@media screen and (min-width: 571px) {
  .intro-container {
    font-size: 16px;
  }
}
